<!DOCTYPE html>
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = true; 
    app.settings.asideDock = true;
  ">
    <!-- main -->
    <div class="col">
        <div class="bg-black dker wrapper-lg" ng-controller="FlotChartDemoCtrl">
            <ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
                <li class="active"><a href>Day</a></li>
                <li><a href ng-click="refreshData()">Week</a></li>
                <li><a href ng-click="refreshData()">Month</a></li>
            </ul>
            <div ui-jq="plot" ui-refresh="d0_1" ui-options="
        [
          { data: {{d0_1}}, points: { show: true, radius: 2}, splines: { show: true, tension: 0.4, lineWidth: 1 } }
        ],
        {
          colors: ['{{app.color.info}}', '{{app.color.primary}}'],
          series: { shadowSize: 3 },
          xaxis:{ font: { color: '#507b9b' } },
          yaxis:{ font: { color: '#507b9b' }, max:16 },
          grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
          tooltip: true,
          tooltipOpts: { content: 'Statistics of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
        }
      " style="min-height:360px">
            </div>
        </div>
        <div class="wrapper-md bg-white-only b-b">
            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div>Users <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                    <div class="h2 m-b-sm">219k</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Publications <i class="fa fa-fw fa-caret-down text-warning text-sm"></i></div>
                    <div class="h2 m-b-sm">1230</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Solved Cases <i class="fa fa-fw fa-caret-up text-success text-sm"></i></div>
                    <div class="h2 m-b-sm">2839</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Newly Reported Cases <i class="fa fa-fw fa-caret-up text-danger text-sm"></i></div>
                    <div class="h2 m-b-sm">2,300</div>
                </div>
            </div>
        </div>
        <div class="wrapper-md">
            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div>Todays activity</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: 75,
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.primary}}',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-primary h3">75%</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Active Players</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: 35,
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.info}}',
              scaleColor: false,
              size: 115,
              rotate: 0,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-info h3">35%</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Weekly Changes</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: 50,
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.warning}}',
              scaleColor: false,
              size: 115,
              rotate: 180,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-warning h3">50%</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div>Monthly Changes</div>
                    <div ui-jq="easyPieChart" ui-options="{
              percent: 60,
              lineWidth: 4,
              trackColor: '{{app.color.light}}',
              barColor: '{{app.color.success}}',
              scaleColor: false,
              size: 115,
              rotate: 90,
              lineCap: 'butt'
            }" class="inline m-t">
                        <div>
                            <span class="text-success h3">60%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / main -->
    <!-- right col -->
    <div class="col w-md bg-black dk bg-auto">
        <div class="wrapper">
            <div class="m-b-sm text-md">What to follow</div>
            <ul class="list-group no-bg no-borders pull-in">
                <li class="list-group-item">
                    <div class="clear">
                        <div><a href>Saved Lives</a></div>
                        <small class="text-muted">Community A</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="clear">
                        <div><a href>Newly Reported Cases</a></div>
                        <small class="text-muted">Community A</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="clear">
                        <div><a href>Publications</a></div>
                        <small class="text-muted">Community A</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="clear">
                        <div><a href>Reached Homesteads</a></div>
                        <small class="text-muted">Community A</small>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="clear">
                        <div><a href>Heal Training</a></div>
                        <small class="text-muted">Community A</small>
                    </div>
                </li>
            </ul>
            <div class="text-center">
                <a href class="btn btn-sm btn-primary padder-md m-b">More Data</a>
            </div>
        </div>
    </div>
    <!-- / right col -->
</div>